[submodule "gamemodes/obiekty"]
	path = gamemodes/obiekty
	url = https://github.com/Mrucznik/Mrucznik-RP-obiekty.git
[submodule "include"]
	path = include
	url = https://github.com/Mrucznik/Mrucznik-RP-Includes.git
[submodule "models"]
	path = models
	url = git@github.com:Mrucznik/Mrucznik-RP-models
[submodule "Mrucznik-RP-Includes-fork"]
	path = includes
	url = https://github.com/gumbalowsky/Mrucznik-RP-Includes-fork.git
[submodule "Mrucznik-RP-Models-fork"]
	path = models
	url = https://github.com/gumbalowsky/Mrucznik-RP-Models-fork.git
