[submodule "gamemodes/obiekty"]
	path = gamemodes/obiekty
	url = https://github.com/Mrucznik/Mrucznik-RP-obiekty.git
[submodule "include"]
	path = include
	url = https://github.com/Mrucznik/Mrucznik-RP-Includes.git
