[submodule "gamemodes/modules/obiekty"]
	path = gamemodes/modules/obiekty
	url = https://github.com/Mrucznik/Mrucznik-RP-Obiekty
[submodule "include"]
	path = include
	url = https://github.com/Mrucznik/Mrucznik-RP-Includes
