# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Windows bat files
*.bat

#---< My Excludes >---
#Server files and plugins
*.exe
*.dll
*.so
*.pdb

#Scriptfiles and plugins igonre
scriptfiles/**
plugins/**

#AMX file format
*.amx

#Log files
*.log
/*.txt
