//----------------------------------------------<< Source >>-------------------------------------------------//
{{command_centered}}
//----------------------------------------------------*------------------------------------------------------//
//----[                                                                                                 ]----//
//----[         |||||             |||||                       ||||||||||       ||||||||||               ]----//
//----[        ||| |||           ||| |||                      |||     ||||     |||     ||||             ]----//
//----[       |||   |||         |||   |||                     |||       |||    |||       |||            ]----//
//----[       ||     ||         ||     ||                     |||       |||    |||       |||            ]----//
//----[      |||     |||       |||     |||                    |||     ||||     |||     ||||             ]----//
//----[      ||       ||       ||       ||     __________     ||||||||||       ||||||||||               ]----//
//----[     |||       |||     |||       |||                   |||    |||       |||                      ]----//
//----[     ||         ||     ||         ||                   |||     ||       |||                      ]----//
//----[    |||         |||   |||         |||                  |||     |||      |||                      ]----//
//----[    ||           ||   ||           ||                  |||      ||      |||                      ]----//
//----[   |||           ||| |||           |||                 |||      |||     |||                      ]----//
//----[  |||             |||||             |||                |||       |||    |||                      ]----//
//----[                                                                                                 ]----//
//----------------------------------------------------*------------------------------------------------------//
// Kod wygenerowany automatycznie narzędziem Mrucznik CTL

//-------<[ include ]>-------
#include "{{name}}_impl.pwn"

//-------<[ initialize ]>-------
Command_{{name}}()
{
    new command = Command_GetId({{name}})

    //aliases
    {% for alias in aliases %}
    Command_AddAlt(command, "{{alias}}");
    {% endfor %}

    //permissions
    {% for permission in permissions %}
    Group_SetCommand(Group_GetID("{{permission}}"), command, true);
    {% endfor %}
}

//-------<[ command ]>-------
YCMD:{{name}}(playerid, params[], help)
{
    if (help)
    {
        sendTipMessage(playerid, "{{description}}");
        return 1;
    }

    {% if parameters -%}
    //fetching params
    new {% for parameter in parameters %}{{parameter.variable}}{{ ", " if not loop.last }}{% endfor %};
    if(sscanf(params, "{% for parameter in parameters %}{{parameter.symbol}}{% endfor %}", {% for parameter in parameters %}{{parameter.name}}{{ ", " if not loop.last }}{% endfor %}))
    {
        sendTipMessage(playerid, "Użyj /{{name}} {% for parameter in parameters %}[{{parameter.description}}{% if defaultValue -%} ({{defaultValue}}){%- endif %}] {% endfor %}");
        return 1;
    }
    {%- endif %}

    //command body
    Command_{{name}}_Impl(playerid, {% for parameter in parameters %}{{parameter.name}}{{ ", " if not loop.last }}{% endfor %})
    return 1;
}
