//----------------------------------------------<< Source >>-------------------------------------------------//
//----------------------------------------------[ Modules ]--------------------------------------------------//
//----------------------------------------------------*------------------------------------------------------//
//----[                                                                                                 ]----//
//----[         |||||             |||||                       ||||||||||       ||||||||||               ]----//
//----[        ||| |||           ||| |||                      |||     ||||     |||     ||||             ]----//
//----[       |||   |||         |||   |||                     |||       |||    |||       |||            ]----//
//----[       ||     ||         ||     ||                     |||       |||    |||       |||            ]----//
//----[      |||     |||       |||     |||                    |||     ||||     |||     ||||             ]----//
//----[      ||       ||       ||       ||     __________     ||||||||||       ||||||||||               ]----//
//----[     |||       |||     |||       |||                   |||    |||       |||                      ]----//
//----[     ||         ||     ||         ||                   |||     ||       |||                      ]----//
//----[    |||         |||   |||         |||                  |||     |||      |||                      ]----//
//----[    ||           ||   ||           ||                  |||      ||      |||                      ]----//
//----[   |||           ||| |||           |||                 |||      |||     |||                      ]----//
//----[  |||             |||||             |||                |||       |||    |||                      ]----//
//----[                                                                                                 ]----//
//----------------------------------------------------*------------------------------------------------------//
// Kod wygenerowany automatycznie narzędziem Mrucznik CTL

//-------<[ .def ]>-------
{% for module in modules %}}
#include "{{module.name}}.def"
{% endfor %}}

//-------<[ .hwn ]>-------
{% for module in modules %}}
#include "{{module.name}}.hwn"
{% endfor %}}

//-------<[ .pwn ]>-------
{% for module in modules %}}
#include "{{module.name}}.pwn"
{% endfor %}}

//-------<[ .commands ]>-------
{% for module in modules %}}
#include "{{module.name}}/commands/commands.pwn"
{% endfor %}}
